<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mohamed Negm</title>
        <link rel="icon" type="image/x-icon" href="../favicon.png">
        <!-- Bootstrapt -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- assets -->
        <link rel="stylesheet" href="../assets/stylesheets/main.css">
        <script src="../assets/javascript/main.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../">
                        <img src="../favicon.png" alt="" class="favicon">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link p-2" href="projects.html">Projects</a>
                            </li>
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link p-2" href="resume.html">Resume</a>
                            </li>
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link p-2" href="photography.html">Photography</a>
                            </li>
                        </ul>
                        <hr class="d-md-none text-white-50">
                        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link" href="https://github.com/moenegm" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-github"></i>
                                    <small class="d-md-none ms-2">GitHub</small>
                                </a>
                            </li>
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link" href="https://www.linkedin.com/in/moenegm/" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-linkedin"></i>
                                    <small class="d-md-none ms-2">LinkedIn</small>
                                </a>
                            </li>
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link" href="https://stackoverflow.com/users/10873287/mohamed-a-negm" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-stack-overflow"></i>
                                    <small class="d-md-none ms-2">Stack Overflow</small>
                                </a>
                            </li>
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link" href="https://twitter.com/moe_negm" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-twitter"></i>
                                    <small class="d-md-none ms-2">Twitter</small>
                                </a>
                                
                            </li>
                            <li class="nav-item col-6 col-md-auto">
                                <a class="nav-link" href="https://www.youtube.com/channel/UCKZpp79IKpBMoG1C2Ufrmgw" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-youtube"></i>
                                    <small class="d-md-none ms-2">YouTube</small>
                                </a>
                            </li>
                        </ul>
                        <a class="btn btn-outline-success d-lg-inline-block my-2 my-md-0 ms-md-3" href="contact.html">Contact Me</a>
                    </div>
                </div>
            </nav>    
        </header>
        <main class="resume">
            <div class="container">
                <div class="row py-2">
                    <div class="col-3 py-2 text-center" style="background-color: #195c71; color:aliceblue;">
                        <img src="../favicon.png" alt="Mohamed A. Negm" style="width: 70%;">
                        <h6 class="pt-2" style="font-size: 2vmin;">Mohamed A. Negm</h6>
                        <p style="font-size: 1.7vmin;"> Software Developer Engineer </p>
                        <a href="contact.html" target="_blank" rel="noopener noreferrer"><h6 class="py-1 resume-special-text" style="background-color: #277790; padding-left:5px; font-size: 2vmin"> Contact </h6></a>
                        <h5 class="py-1 resume-special-text" style="background-color: #277790; padding-left:5px; font-size: 2vmin"> Skills </h5>
                        <h5 class="py-1 resume-special-text" style="background-color: #277790; padding-left:5px; font-size: 2vmin"> Languages </h5>
                        <h5 class="py-1 resume-special-text" style="background-color: #277790; padding-left:5px; font-size: 2vmin"> Hobbies </h5>
                    </div>
                    <div class="col-9">
                        <h5 class="py-1 resume-special-text" style="background-color: #195c71; padding-left:5px; color:aliceblue; font-size: 2vmin"> Projects </h5>
                        <div class="row">
                            <div class="col-6 ps-4 align-self-center">
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a href="http://rate.photos" target="_blank" rel="noopener noreferrer">rate.photos</a></li>
                                    <li class="mb-2"><a href="https://messaging.mobilizeus.com" target="_blank" rel="noopener noreferrer">mobilizeus</a></li>
                                    <li class="mb-2"><a href="https://mobilizeyourtech.com/vision" target="_blank" rel="noopener noreferrer">vision</a>  </li>  
                                </ul>

                            </div>
                            <div class="col-6 align-self-end">
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a href="https://mobilizeyourtech.com/connector/" target="_blank" rel="noopener noreferrer">connector</a></li>
                                    <li class="mb-2"><a href="app.madhatchers.com" target="_blank" rel="noopener noreferrer">madhatchers</a></li>
                                    <li class="mb-2"><a href="https://www.salesforce.com/" target="_blank" rel="noopener noreferrer">Salesforce</a></li>
                                </ul>
                            </div>
                        </div>
                        <h5 class="py-1 resume-special-text" style="background-color: #195c71; padding-left:5px; color:aliceblue; font-size: 2vmin"> Experience </h5>
                        <div class="row">
                            <div class="col">
                                <h6 style="color: #195c71; font-size: 2vmin"><strong> Software Engineer, The Agate Group, Remote; — 2022-Present</strong></h6>
                                <ul class="">
                                    <li>Served as a consultant to clients trying to hash out what it would require to add a new feature.</li>
                                    <li>Added new features, resolved issues, wrote estimates, created tickets and maintained app.madhatchers.com</li>
                                    <li>Was first point of contact between development team and client</li>
                                </ul>
                                <h6 style="color: #195c71; font-size: 2vmin"><strong> Full Stack Developer Intern, Mobilize, Remote; — 2021-2022</strong></h6>
                                <ul class="">
                                    <li>Currently have code in production in 3 full-stack rails products and 2 rails/react products that ensures the quality, responsiveness, and performance of the apps.</li>
                                    <li>Developed a Rake Task that created a connection to two databases and was used to migrate 10’s of thousands of records from several tables from one database to another database, after passing through some methods that ensure compatibility and quality.</li>
                                    <li>Collaborated closely with the project managers, VP of Engineering, and CTO, to meet deadlines and ensure the product fulfilled the clients expectations.</li>
                                </ul>
                                <h6 style="color: #195c71; font-size: 2vmin"><strong> STEM Teacher, NYC DOE & Seattle SPS; — 2016-2022</strong></h6>
                                <ul class="">
                                    <li>Developed a web development curriculum for middle school students, by the end of the quarter each student was able to present their own landing page.</li>
                                    <li>Was an elected member of the ‘Building Leadership Team’ from 2020 - 2022 as well as the hiring team. I helped develop a school improvement plan, decision-making matrix, and school-wide professional development plan. I also worked on the school budget.</li>
                                    <li>Taught grades 6 through 12 in several core and elective subjects such as: Algebra, General Math, Earth Science, Physics, General Science, Coding, Photography, Health, Art, Career, and Advisory</li>
                                    <li>Was a proud member of the school’s Racial Equity Team. I am committed to equalizing the life opportunities of economically disadvantaged children relative to their more affluent peers by ensuring that our public schools provide an education that prepares children for success in the colleges and careers of their choice. This is the reason I primarily worked in Title I schools my entire career.</li>
                                </ul>
                            </div>
                        </div>
                        <h5 class="py-1 resume-special-text" style="background-color: #195c71; padding-left:5px; color:aliceblue; font-size: 2vmin"> Education </h5>
                        <div class="row">
                            <div class="col-6 align-self-end">
                                <h5 style="color: #195c71; font-size: 2vmin"><strong>Bachelor’s - Poli Sci</strong></h5>
                                <p>CUNY - CSI,<br>SI, New York — 2016</p>
                                <p>Alpha Phi Delta Fraternity</p>
                            </div>
                            <div class="col-6 align-self-center">
                                <h5 style="color: #195c71; font-size: 2vmin"><strong> Master’s - STEM Education </strong></h5>
                                <p>Relay Graduate School of Education,<br>New York, New York — 2018</p>
                                <p>3.8 GPA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="bd-footer py-5 bg-dark">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="../" aria-label="Mohamed A. Negm Full Stack Software Engineer">
                            <img src="../favicon.png" alt="Mohamed A. Negm Full Stack Software Engineer" class="footer-favicon">
                            <span class="fs-5 p-2" style="color: aliceblue;"> Mohamed A. Negm</span>
                        </a>
                        
                        </a>
                        <ul class="list-unstyled small text-muted">
                            <li class="mb-2" style="text-align: justify;">
                                Hi, I'm Mohamed A. Negm. I'm a full stack software engineer. I Earned my MA in STEM Education. 
                                I am currently a state certified teacher in both New York and Washington. I Taught Math, Science 
                                and Technology at Title 1 schools for 6 years in New York City DOE and Seattle Public Schools. <br><br>
                                I have experience using Ruby, Ruby on Rails, PostgreSQL, mySQL, Salesforce Apex, React, JavaScript, 
                                typescript, SCSS, CSS, HTML, ERB, HAML.
                            </li>
                        </ul>
                    </div>
                    <hr class="d-md-none text-white-100">
                    <br>

                    <div class="col-3 col-lg-2 offset-lg-1 mb-3">
                        <h5>Links</h5>
                        <hr class="text-white-100">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="../">Home</a></li>
                            
                            <li class="mb-2"><a href="resume.html">Resume</a></li>    
                            <li class="mb-2"><a href="contact.html">Contact</a></li>
                            <li class="mb-2"><a href="projects.html">Projects</a></li>
                            <li class="mb-2"><a href="photography.html">Photography</a></li>
                        </ul>
                    </div>
                    <div class="col-8 col-lg-5 offset-1 mb-3">
                        <div class="row"> 
                            <div class="col-6 col-lg-5 mb-3 text-center">
                                <h5>Projects</h5>
                                <hr class="text-white-100">
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                </ul> 
                            </div>

                            <div class="col-5 col-lg-5 mb-3 offset-1 text-center">
                                <h5>Projects</h5>
                                <hr class="text-white-100">
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                    <li class="mb-2"><a href="views/projects/project1.html">Project</a></li>
                                </ul>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
